@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 223 10% 6%;
		--foreground: 223 5% 90%;
		--card: 223 50% 0%;
		--card-foreground: 223 5% 90%;
		--popover: 223 50% 5%;
		--popover-foreground: 223 5% 90%;
		--primary: 223 0% 93%;
		--primary-foreground: 0 0% 0%;
		--secondary: 223 30% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 185 30% 15%;
		--muted-foreground: 223 5% 60%;
		--accent: 185 30% 15%;
		--accent-foreground: 223 5% 90%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 223 5% 90%;
		--border: 223 30% 18%;
		--input: 223 30% 18%;
		--ring: 223 0% 93%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
